.productHighlightWrapper--collection {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 200px;
}

.productHighlightText {
  background: #FB2E86;
  border-radius: 20px;
  padding: 5px 20px;
  color: #fff;
}
